In [45]:
#import dependencies 
import pandas as pd
import numpy as np
from IPython.display import clear_output
#import csv's 
nba_seasons = "Seasons_Stats.csv"
nba_players = "Players.csv"
nba_players_data = "player_data.csv"

In [46]:
#write csv's to data frames 
nba_seasons_df = pd.read_csv(nba_seasons)
nba_players = pd.read_csv(nba_players)
nba_players_data = pd.read_csv(nba_players_data)

In [47]:
#view data fram3
nba_seasons_df.head()

#how many unique player names do we have
nba_seasons_df['Player'].nunique()

3921

In [48]:
#view data frame
nba_players.head()

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky

In [49]:
#number of total players in this data set
len(nba_players['Player'])

3922

In [50]:
#number of unique players in this data set
nba_players['Player'].nunique()

3921

In [51]:
#see data frame of third csv
nba_players_data.head()

,name,year_start,year_end,position,height,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University

In [52]:
#take the data frame and rename the column name to player for consistency 
renamed_nba_players_data =nba_players_data.rename(columns ={'name':'Player'})
renamed_nba_players_data.head()

#how many total players in this list
len(renamed_nba_players_data['Player'])

4550

In [53]:
#how many unique players
renamed_nba_players_data['Player'].nunique()

4500

In [54]:
#season_players_df = pd.merge(nba_seasons_df, nba_players, how='outer', on ='Player')
#season_players_df.head()


#set index = to years and drop rows less than 1980 and greater than 2010
#data1 = nba_seasons_df.set_index('Year')



#df2 = nba_seasons_df[~(nba_seasons_df['Year'] < 1980)]  
#df2.head(500)

#take data frame and create new data frame with these columns
clean_df = nba_seasons_df[{'Year', 'Player','G', 'FG', 'TRB',
       'AST', 'STL', 'BLK', 'PTS'}]

#clean_df.head()
#drop all nan values- for purpose of comparison we 
datax = clean_df.dropna()
datax.head()
#len(clean_df.Year)
#clean_1_df = clean_df.dropna(axis=1, how='all', inplace=True)
#clean_1_df.head()

,FG,Year,PTS,Player,BLK,G,TRB,STL,AST
3851,336.0,1974.0,865.0,Zaid Abdul-Aziz,104.0,79.0,923.0,80.0,166.0
3852,948.0,1974.0,2191.0,Kareem Abdul-Jabbar*,283.0,81.0,1178.0,112.0,386.0
3853,303.0,1974.0,759.0,Don Adams,12.0,74.0,448.0,110.0,141.0
3854,64.0,1974.0,182.0,Rick Adelman,1.0,55.0,69.0,36.0,56.0
3855,526.0,1974.0,1268.0,Lucius Allen,22.0,72.0,291.0,137.0,374.0

In [55]:
#remove rows for players before 1980
df_1980 = datax[datax['Year'] >= 1980] 
df_1980.head()

,FG,Year,PTS,Player,BLK,G,TRB,STL,AST
5727,835.0,1980.0,2034.0,Kareem Abdul-Jabbar*,280.0,82.0,886.0,81.0,371.0
5728,153.0,1980.0,362.0,Tom Abernethy,12.0,67.0,191.0,35.0,87.0
5729,465.0,1980.0,1118.0,Alvan Adams,55.0,75.0,609.0,108.0,322.0
5730,383.0,1980.0,1131.0,Tiny Archibald*,10.0,80.0,197.0,106.0,671.0
5731,27.0,1980.0,86.0,Dennis Awtrey,15.0,26.0,115.0,12.0,40.0

In [56]:
#remove row for players after 2010
df_2010 = df_1980[df_1980['Year'] <= 2010] 
df_2010.head()

,FG,Year,PTS,Player,BLK,G,TRB,STL,AST
5727,835.0,1980.0,2034.0,Kareem Abdul-Jabbar*,280.0,82.0,886.0,81.0,371.0
5728,153.0,1980.0,362.0,Tom Abernethy,12.0,67.0,191.0,35.0,87.0
5729,465.0,1980.0,1118.0,Alvan Adams,55.0,75.0,609.0,108.0,322.0
5730,383.0,1980.0,1131.0,Tiny Archibald*,10.0,80.0,197.0,106.0,671.0
5731,27.0,1980.0,86.0,Dennis Awtrey,15.0,26.0,115.0,12.0,40.0

In [57]:
type(df_2010)

pandas.core.frame.DataFrame

In [58]:
df_2010.to_csv('test.csv')

In [59]:
#ensure that we have data for all relevent fields
df_2010.count()

FG        14743
Year      14743
PTS       14743
Player    14743
BLK       14743
G         14743
TRB       14743
STL       14743
AST       14743
dtype: int64

In [60]:
df_2010.dtypes

FG        float64
Year      float64
PTS       float64
Player     object
BLK       float64
G         float64
TRB       float64
STL       float64
AST       float64
dtype: object

In [61]:
#prep this data frame for manipulation
nba_players.head()
clean_df1 = nba_players[{'collage','height', 'weight', 'Player'}]
clean_df1.head()

            Player  weight  height                          collage
0  Curly Armstrong    77.0   180.0               Indiana University
1     Cliff Barker    83.0   188.0           University of Kentucky
2    Leo Barnhorst    86.0   193.0         University of Notre Dame
3       Ed Bartels    88.0   196.0  North Carolina State University
4      Ralph Beard    79.0   178.0           University of Kentucky

In [62]:
clean_df2 = clean_df1[['Player', 'collage','height', 'weight']]
clean_df2.head()

            Player                          collage  height  weight
0  Curly Armstrong               Indiana University   180.0    77.0
1     Cliff Barker           University of Kentucky   188.0    83.0
2    Leo Barnhorst         University of Notre Dame   193.0    86.0
3       Ed Bartels  North Carolina State University   196.0    88.0
4      Ralph Beard           University of Kentucky   178.0    79.0

In [63]:



#for index, row in df_2010.iterrows():
    #print(row['FG'], row['TRB'])
    

#for index in df_2010.index:
     #print ("df_2010[" + str(index) + "]['B']=" + str(df_2010['B'][index]))
    
    
#set the index to the year


#indexed1_df = df_2010.set_index(['Year','Player'])
#indexed1_df.head()
#for year in years
    #if values =1980 then
#indexed1_df.value_counts['Player']


df_2010.head()

,FG,Year,PTS,Player,BLK,G,TRB,STL,AST
5727,835.0,1980.0,2034.0,Kareem Abdul-Jabbar*,280.0,82.0,886.0,81.0,371.0
5728,153.0,1980.0,362.0,Tom Abernethy,12.0,67.0,191.0,35.0,87.0
5729,465.0,1980.0,1118.0,Alvan Adams,55.0,75.0,609.0,108.0,322.0
5730,383.0,1980.0,1131.0,Tiny Archibald*,10.0,80.0,197.0,106.0,671.0
5731,27.0,1980.0,86.0,Dennis Awtrey,15.0,26.0,115.0,12.0,40.0

In [64]:
#df_2010.sort_values(by='FG', ascending=False)
#grouped_year = df_2010.set_index('Year')
#grouped_year.sort_values(by='FG', ascending=False)
#grouped_year.loc['1980.0', 'FG']
#print(grouped_year)

#indexed1_df.groupby(level=[0,1])
#print(indexed1_df)

#indexed1_df.loc[('1980.0', 'Kareem Abdul-Jabbar*')]


#O_index = []
#D_index = []
#overall_index = []



#df_2010['O_Index', 'D_Index', 'Overall_Index' ] = []


for newcol in ['O_Index','D_Index','Overall_Index']:
    df_2010[newcol]=0
    
df_2010.head()

C:\Users\beach\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,FG,Year,PTS,Player,BLK,G,TRB,STL,AST,O_Index,D_Index,Overall_Index
5727,835.0,1980.0,2034.0,Kareem Abdul-Jabbar*,280.0,82.0,886.0,81.0,371.0,0,0,0
5728,153.0,1980.0,362.0,Tom Abernethy,12.0,67.0,191.0,35.0,87.0,0,0,0
5729,465.0,1980.0,1118.0,Alvan Adams,55.0,75.0,609.0,108.0,322.0,0,0,0
5730,383.0,1980.0,1131.0,Tiny Archibald*,10.0,80.0,197.0,106.0,671.0,0,0,0
5731,27.0,1980.0,86.0,Dennis Awtrey,15.0,26.0,115.0,12.0,40.0,0,0,0

In [65]:
#set index values
#TRB = .4
#FG = .1
#AST = .2
#BLK = .3
#PTS = .7
#STL = .3
#set games played to a list
Games_played = df_2010.G.tolist()
len(Games_played)

14743

In [68]:
#O_index = df_2010.


#(TRB * Value_TRB)+(BLK * Value_BLK)+(STL * Value_STL)

for index, row in df_2010.iterrows():
    
    clear_output(wait=True)

    # get stats numbers from df
    #rebound_count = row['TRB']
    #block_count = row['BLK']
    #steal_count = row['STL']
    #game_count = row['G']
    
    defensive_value = ((.4 * row['TRB'])+(.3 * row['BLK'])+(.3 * row['STL']))/row['G']
    offensive_value = ((.1 * row["FG"])+(.2 * row["AST"])+(.7 * row["PTS"]))/row['G']
    
    overall_value = defensive_value + offensive_value
    
    Points_pg = row['PTS']/row['G']
    AST_PG = row['AST']/row['G']
    RP_G = row['TRB']/row['G']
    BLK_PG = row['BLK']/row['G']
    STL_PG = row['STL']/row['G']
    FG_PG = row['FG']/row['G']
    
    
    df_2010.loc[index, 'O_Index'] = offensive_value
    df_2010.loc[index, 'D_Index'] = defensive_value
    df_2010.loc[index, 'Overall_Index'] = overall_value
    df_2010.loc[index, 'PPG'] = Points_pg
    df_2010.loc[index, 'ASTPG'] = AST_PG
    df_2010.loc[index, 'RPG'] = RP_G
    df_2010.loc[index, 'BLKPG'] = BLK_PG
    df_2010.loc[index, 'STLPG'] = STL_PG
    df_2010.loc[index, 'FGPG'] = FG_PG
    
    print("current progress:", np.round(index/len(df_2010) *100, 2), "%")
    
    
    #df_2010.loc[index, 'Overall_Index'] = results_lng
    
df_2010.head(10)

current progress: 139.04 %

,FG,Year,PTS,Player,BLK,G,TRB,STL,AST,O_Index,D_Index,Overall_Index,PPG,ASTPG,RPG,BLKPG,STLPG,FGPG
5727,835.0,1980.0,2034.0,Kareem Abdul-Jabbar*,280.0,82.0,886.0,81.0,371.0,19.286585,5.642683,24.929268,24.804878,4.524390,10.804878,3.414634,0.987805,10.182927
5728,153.0,1980.0,362.0,Tom Abernethy,12.0,67.0,191.0,35.0,87.0,4.270149,1.350746,5.620896,5.402985,1.298507,2.850746,0.179104,0.522388,2.283582
5729,465.0,1980.0,1118.0,Alvan Adams,55.0,75.0,609.0,108.0,322.0,11.913333,3.900000,15.813333,14.906667,4.293333,8.120000,0.733333,1.440000,6.200000
5730,383.0,1980.0,1131.0,Tiny Archibald*,10.0,80.0,197.0,106.0,671.0,12.052500,1.420000,13.472500,14.137500,8.387500,2.462500,0.125000,1.325000,4.787500
5731,27.0,1980.0,86.0,Dennis Awtrey,15.0,26.0,115.0,12.0,40.0,2.726923,2.080769,4.807692,3.307692,1.538462,4.423077,0.576923,0.461538,1.038462
5732,16.0,1980.0,38.0,Gus Bailey,4.0,20.0,28.0,7.0,26.0,1.670000,0.725000,2.395000,1.900000,1.300000,1.400000,0.200000,0.350000,0.800000
5733,122.0,1980.0,312.0,James Bailey,54.0,67.0,197.0,21.0,28.0,3.525373,1.511940,5.037313,4.656716,0.417910,2.940299,0.805970,0.313433,1.820896
5734,545.0,1980.0,1277.0,Greg Ballard,36.0,82.0,638.0,90.0,159.0,11.953659,3.573171,15.526829,15.573171,1.939024,7.780488,0.439024,1.097561,6.646341
5735,384.0,1980.0,908.0,Mike Bantom,49.0,77.0,456.0,85.0,279.0,9.477922,2.890909,12.368831,11.792208,3.623377,5.922078,0.636364,1.103896,4.987013
5736,24.0,1980.0,64.0,Marvin Barnes,12.0,20.0,77.0,5.0,18.0,2.540000,1.795000,4.335000,3.200000,0.900000,3.850000,0.600000,0.250000,1.200000

In [72]:
#who had the highest offensive index over the period
df_2010.loc[df_2010['O_Index'].idxmax()]

FG                          1098
Year                        1987
PTS                         3041
Player           Michael Jordan*
BLK                          125
G                             82
TRB                          430
STL                          236
AST                          377
O_Index                  28.2183
D_Index                  3.41829
Overall_Index            31.6366
PPG                      37.0854
ASTPG                    4.59756
RPG                       5.2439
BLKPG                    1.52439
STLPG                    2.87805
FGPG                     13.3902
Name: 8469, dtype: object

In [73]:
#highest defensive index
df_2010.loc[df_2010['D_Index'].idxmax()]

FG                          342
Year                       1992
PTS                         800
Player           Dennis Rodman*
BLK                          70
G                            82
TRB                        1530
STL                          68
AST                         191
O_Index                  7.7122
D_Index                 7.96829
Overall_Index           15.6805
PPG                      9.7561
ASTPG                   2.32927
RPG                     18.6585
BLKPG                  0.853659
STLPG                  0.829268
FGPG                    4.17073
Name: 10801, dtype: object

In [74]:
#highest overall index
df_2010.loc[df_2010['Overall_Index'].idxmax()]

FG                          1098
Year                        1987
PTS                         3041
Player           Michael Jordan*
BLK                          125
G                             82
TRB                          430
STL                          236
AST                          377
O_Index                  28.2183
D_Index                  3.41829
Overall_Index            31.6366
PPG                      37.0854
ASTPG                    4.59756
RPG                       5.2439
BLKPG                    1.52439
STLPG                    2.87805
FGPG                     13.3902
Name: 8469, dtype: object

In [75]:
#highest ppg over period
df_2010.loc[df_2010['PPG'].idxmax()]

FG                          1098
Year                        1987
PTS                         3041
Player           Michael Jordan*
BLK                          125
G                             82
TRB                          430
STL                          236
AST                          377
O_Index                  28.2183
D_Index                  3.41829
Overall_Index            31.6366
PPG                      37.0854
ASTPG                    4.59756
RPG                       5.2439
BLKPG                    1.52439
STLPG                    2.87805
FGPG                     13.3902
Name: 8469, dtype: object

In [76]:
#most blocks per game
df_2010.loc[df_2010['BLKPG'].idxmax()]

FG                      302
Year                   1985
PTS                     794
Player           Mark Eaton
BLK                     456
G                        82
TRB                     927
STL                      36
AST                     124
O_Index             7.44878
D_Index             6.32195
Overall_Index       13.7707
PPG                 9.68293
ASTPG                1.5122
RPG                 11.3049
BLKPG               5.56098
STLPG              0.439024
FGPG                3.68293
Name: 7638, dtype: object

In [77]:
#most assists per game
df_2010.loc[df_2010['ASTPG'].idxmax()]

FG                          472
Year                       1990
PTS                        1345
Player           John Stockton*
BLK                          18
G                            78
TRB                         206
STL                         207
AST                        1134
O_Index                 15.5833
D_Index                 1.92179
Overall_Index           17.5051
PPG                     17.2436
ASTPG                   14.5385
RPG                     2.64103
BLKPG                  0.230769
STLPG                   2.65385
FGPG                    6.05128
Name: 9923, dtype: object

In [78]:
#most steals per game
df_2010.loc[df_2010['STLPG'].idxmax()]

FG                           562
Year                        1986
PTS                         1392
Player           Alvin Robertson
BLK                           40
G                             82
TRB                          516
STL                          301
AST                          448
O_Index                   13.661
D_Index                  3.76463
Overall_Index            17.4256
PPG                      16.9756
ASTPG                    5.46341
RPG                      6.29268
BLKPG                   0.487805
STLPG                    3.67073
FGPG                     6.85366
Name: 8191, dtype: object

In [79]:
#most fg per game
df_2010.loc[df_2010['FGPG'].idxmax()]

FG                          1098
Year                        1987
PTS                         3041
Player           Michael Jordan*
BLK                          125
G                             82
TRB                          430
STL                          236
AST                          377
O_Index                  28.2183
D_Index                  3.41829
Overall_Index            31.6366
PPG                      37.0854
ASTPG                    4.59756
RPG                       5.2439
BLKPG                    1.52439
STLPG                    2.87805
FGPG                     13.3902
Name: 8469, dtype: object

In [80]:
#10 highest overall index years 
df_2010.nlargest(10, ['Overall_Index'])

,FG,Year,PTS,Player,BLK,G,TRB,STL,AST,O_Index,D_Index,Overall_Index,PPG,ASTPG,RPG,BLKPG,STLPG,FGPG
8469,1098.0,1987.0,3041.0,Michael Jordan*,125.0,82.0,430.0,236.0,377.0,28.218293,3.418293,31.636585,37.085366,4.597561,5.243902,1.524390,2.878049,13.390244
8869,1069.0,1988.0,2868.0,Michael Jordan*,131.0,82.0,449.0,259.0,485.0,26.969512,3.617073,30.586585,34.975610,5.914634,5.475610,1.597561,3.158537,13.036585
6672,945.0,1982.0,2520.0,Moses Malone*,125.0,81.0,1188.0,76.0,142.0,23.295062,6.611111,29.906173,31.111111,1.753086,14.666667,1.543210,0.938272,11.666667
9297,966.0,1989.0,2633.0,Michael Jordan*,65.0,81.0,652.0,234.0,650.0,25.551852,4.327160,29.879012,32.506173,8.024691,8.049383,0.802469,2.888889,11.925926
9747,1034.0,1990.0,2753.0,Michael Jordan*,54.0,82.0,565.0,227.0,519.0,26.028049,3.784146,29.812195,33.573171,6.329268,6.890244,0.658537,2.768293,12.609756
17742,978.0,2006.0,2832.0,Kobe Bryant,30.0,80.0,425.0,147.0,360.0,26.902500,2.788750,29.691250,35.400000,4.500000,5.312500,0.375000,1.837500,12.225000
14806,956.0,2000.0,2344.0,Shaquille O'Neal*,239.0,79.0,1078.0,36.0,299.0,22.736709,6.502532,29.239241,29.670886,3.784810,13.645570,3.025316,0.455696,12.101266
11106,992.0,1993.0,2541.0,Michael Jordan*,61.0,78.0,522.0,221.0,428.0,25.173077,3.761538,28.934615,32.576923,5.487179,6.692308,0.782051,2.833333,12.717949
11731,840.0,1994.0,2383.0,David Robinson*,265.0,80.0,855.0,139.0,381.0,22.853750,5.790000,28.643750,29.787500,4.762500,10.687500,3.312500,1.737500,10.500000
11685,953.0,1994.0,2377.0,Shaquille O'Neal*,231.0,81.0,1072.0,76.0,195.0,22.200000,6.430864,28.630864,29.345679,2.407407,13.234568,2.851852,0.938272,11.765432

In [81]:
df_2010.nlargest(10, ['D_Index'])

,FG,Year,PTS,Player,BLK,G,TRB,STL,AST,O_Index,D_Index,Overall_Index,PPG,ASTPG,RPG,BLKPG,STLPG,FGPG
10801,342.0,1992.0,800.0,Dennis Rodman*,70.0,82.0,1530.0,68.0,191.0,7.712195,7.968293,15.680488,9.756098,2.329268,18.658537,0.853659,0.829268,4.170732
12281,16.0,1995.0,42.0,Kevin Willis,3.0,2.0,36.0,1.0,3.0,15.800000,7.800000,23.600000,21.000000,1.500000,18.000000,1.500000,0.500000,8.000000
11248,183.0,1993.0,468.0,Dennis Rodman*,45.0,62.0,1132.0,48.0,102.0,5.908065,7.753226,13.661290,7.548387,1.645161,18.258065,0.725806,0.774194,2.951613
9840,806.0,1990.0,1995.0,Hakeem Olajuwon*,376.0,82.0,1149.0,174.0,234.0,18.584146,7.617073,26.201220,24.329268,2.853659,14.012195,4.585366,2.121951,9.829268
16447,210.0,2003.0,506.0,Ben Wallace,230.0,73.0,1126.0,104.0,120.0,5.468493,7.542466,13.010959,6.931507,1.643836,15.424658,3.150685,1.424658,2.876712
10293,487.0,1991.0,1187.0,Hakeem Olajuwon*,221.0,56.0,770.0,121.0,131.0,16.175000,7.332143,23.507143,21.196429,2.339286,13.750000,3.946429,2.160714,8.696429
11737,156.0,1994.0,370.0,Dennis Rodman*,32.0,79.0,1367.0,52.0,184.0,3.941772,7.240506,11.182278,4.683544,2.329114,17.303797,0.405063,0.658228,1.974684
9382,790.0,1989.0,2034.0,Hakeem Olajuwon*,282.0,82.0,1105.0,213.0,149.0,18.690244,7.201220,25.891463,24.804878,1.817073,13.475610,3.439024,2.597561,9.634146
7045,654.0,1983.0,1908.0,Moses Malone*,157.0,78.0,1194.0,89.0,101.0,18.220513,7.069231,25.289744,24.461538,1.294872,15.307692,2.012821,1.141026,8.384615
12185,137.0,1995.0,349.0,Dennis Rodman*,23.0,49.0,823.0,31.0,97.0,5.661224,7.048980,12.710204,7.122449,1.979592,16.795918,0.469388,0.632653,2.795918

In [82]:

df_2010.nlargest(10, ['FGPG'])

,FG,Year,PTS,Player,BLK,G,TRB,STL,AST,O_Index,D_Index,Overall_Index,PPG,ASTPG,RPG,BLKPG,STLPG,FGPG
8469,1098.0,1987.0,3041.0,Michael Jordan*,125.0,82.0,430.0,236.0,377.0,28.218293,3.418293,31.636585,37.085366,4.597561,5.243902,1.524390,2.878049,13.390244
5848,1024.0,1980.0,2585.0,George Gervin*,79.0,78.0,403.0,110.0,202.0,25.029487,2.793590,27.823077,33.141026,2.589744,5.166667,1.012821,1.410256,13.128205
8869,1069.0,1988.0,2868.0,Michael Jordan*,131.0,82.0,449.0,259.0,485.0,26.969512,3.617073,30.586585,34.975610,5.914634,5.475610,1.597561,3.158537,13.036585
11106,992.0,1993.0,2541.0,Michael Jordan*,61.0,78.0,522.0,221.0,428.0,25.173077,3.761538,28.934615,32.576923,5.487179,6.692308,0.782051,2.833333,12.717949
9747,1034.0,1990.0,2753.0,Michael Jordan*,54.0,82.0,565.0,227.0,519.0,26.028049,3.784146,29.812195,33.573171,6.329268,6.890244,0.658537,2.768293,12.609756
6557,993.0,1982.0,2551.0,George Gervin*,45.0,79.0,392.0,77.0,187.0,24.334177,2.448101,26.782278,32.291139,2.367089,4.962025,0.569620,0.974684,12.569620
7722,691.0,1985.0,1809.0,Bernard King*,15.0,55.0,317.0,71.0,204.0,25.021818,2.774545,27.796364,32.890909,3.709091,5.763636,0.272727,1.290909,12.563636
17742,978.0,2006.0,2832.0,Kobe Bryant,30.0,80.0,425.0,147.0,360.0,26.902500,2.788750,29.691250,35.400000,4.500000,5.312500,0.375000,1.837500,12.225000
14806,956.0,2000.0,2344.0,Shaquille O'Neal*,239.0,79.0,1078.0,36.0,299.0,22.736709,6.502532,29.239241,29.670886,3.784810,13.645570,3.025316,0.455696,12.101266
10212,990.0,1991.0,2580.0,Michael Jordan*,83.0,82.0,492.0,223.0,453.0,24.336585,3.519512,27.856098,31.463415,5.524390,6.000000,1.012195,2.719512,12.073171

In [83]:
df_2010.nlargest(10, ['O_Index'])

,FG,Year,PTS,Player,BLK,G,TRB,STL,AST,O_Index,D_Index,Overall_Index,PPG,ASTPG,RPG,BLKPG,STLPG,FGPG
8469,1098.0,1987.0,3041.0,Michael Jordan*,125.0,82.0,430.0,236.0,377.0,28.218293,3.418293,31.636585,37.085366,4.597561,5.243902,1.524390,2.878049,13.390244
8869,1069.0,1988.0,2868.0,Michael Jordan*,131.0,82.0,449.0,259.0,485.0,26.969512,3.617073,30.586585,34.975610,5.914634,5.475610,1.597561,3.158537,13.036585
17742,978.0,2006.0,2832.0,Kobe Bryant,30.0,80.0,425.0,147.0,360.0,26.902500,2.788750,29.691250,35.400000,4.500000,5.312500,0.375000,1.837500,12.225000
9747,1034.0,1990.0,2753.0,Michael Jordan*,54.0,82.0,565.0,227.0,519.0,26.028049,3.784146,29.812195,33.573171,6.329268,6.890244,0.658537,2.768293,12.609756
17904,815.0,2006.0,2377.0,Allen Iverson*,10.0,72.0,232.0,140.0,532.0,25.719444,1.913889,27.633333,33.013889,7.388889,3.222222,0.138889,1.944444,11.319444
9297,966.0,1989.0,2633.0,Michael Jordan*,65.0,81.0,652.0,234.0,650.0,25.551852,4.327160,29.879012,32.506173,8.024691,8.049383,0.802469,2.888889,11.925926
11106,992.0,1993.0,2541.0,Michael Jordan*,61.0,78.0,522.0,221.0,428.0,25.173077,3.761538,28.934615,32.576923,5.487179,6.692308,0.782051,2.833333,12.717949
5848,1024.0,1980.0,2585.0,George Gervin*,79.0,78.0,403.0,110.0,202.0,25.029487,2.793590,27.823077,33.141026,2.589744,5.166667,1.012821,1.410256,13.128205
7722,691.0,1985.0,1809.0,Bernard King*,15.0,55.0,317.0,71.0,204.0,25.021818,2.774545,27.796364,32.890909,3.709091,5.763636,0.272727,1.290909,12.563636
16286,829.0,2003.0,2407.0,Tracy McGrady,59.0,75.0,488.0,124.0,411.0,24.666667,3.334667,28.001333,32.093333,5.480000,6.506667,0.786667,1.653333,11.053333